<div class="mb-4">
    <partial name="_SearchForm"/>

    @await Component.InvokeAsync("CategoriesWidget")

    @await Component.InvokeAsync("TagCloud")

    @await Component.InvokeAsync("FeaturedPosts")

    @await Component.InvokeAsync("RandomPosts")

    @await Component.InvokeAsync("BestAuthors")

    @await Component.InvokeAsync("Archives")


@*    <h1>
        Tìm kiếm bài viết
    </h1>

    <h1>
        Các chủ đề
    </h1>

    <h1>
        Bài viết nổi bật
    </h1>

    <h1>
        Đăng ký nhận tin mới
    </h1>*@

</div>
