@{
    ViewData["PageTitle"] = "Giới thiệu";
}

<div class="px-5 py-3">
    <h2 class="text-primary">
        <i class="fa fa-users" aria-hidden="true"></i>
        Giới thiệu về Tips&Tricks
    </h2>

    <p class="fs-5 my-3">
        Donec sit amet facilisis urna, sit amet porta mauris. Maecenas fringilla neque et massa rhoncus, a dignissim justo consectetur. Duis lacinia purus ut finibus venenatis. Proin at justo eget velit vulputate commodo rhoncus a sem. Nullam blandit nibh eget condimentum euismod. Vestibulum faucibus purus ut aliquet auctor. Fusce posuere magna a ligula mattis, ac sagittis leo imperdiet. Fusce blandit eleifend mauris, eget pharetra nisi suscipit ac. Sed nibh nisl, facilisis eu urna vitae, vehicula euismod elit. Aenean maximus rhoncus viverra.
    </p>

    <img src="/images/image01.jpg"
         class="rounded img-fluid my-2"
         alt="none" />

    <p class="fs-5 my-3">
        Donec in venenatis nulla. Morbi odio dolor, rhoncus sed rhoncus volutpat, commodo ac massa. Vestibulum a orci dictum, ultricies mi non, tristique metus. Praesent sodales in diam vel sodales. Cras ut nibh lorem. Curabitur non sem pellentesque, efficitur ex eget, posuere diam. Proin gravida fringilla ligula, sit amet venenatis sem rutrum non. Sed non venenatis mi.
    </p>

    <p class="fs-5 my-3">
        Mauris lobortis tincidunt nulla, sed facilisis orci. Nam feugiat mauris a arcu semper mattis. Curabitur blandit nisl semper euismod lacinia. Nulla pretium eleifend facilisis. Donec venenatis purus nec mi scelerisque, in vulputate orci tincidunt. Praesent non odio nisi. Quisque mattis vestibulum nunc, non interdum odio posuere et. Quisque a aliquam magna, at mattis metus. Donec at odio ut ex pharetra pharetra eu quis magna. Phasellus et ligula scelerisque, finibus urna sagittis, sagittis lorem.
    </p>

    <p class="fs-5 my-3">
        Phasellus vestibulum sollicitudin dolor, euismod fermentum libero eleifend nec. Phasellus hendrerit rhoncus mi, sed bibendum lectus sagittis non. Sed ac bibendum libero, consequat tincidunt arcu. Curabitur ut enim turpis. Donec ac ultricies turpis. In quis ullamcorper ipsum. Cras metus quam, facilisis vitae neque in, laoreet ultricies elit. Vivamus tortor enim, vulputate sed hendrerit eu, egestas ac erat. Phasellus sagittis cursus odio sed maximus. In lacinia hendrerit ligula vitae vulputate. Vestibulum porttitor velit et enim pellentesque, sagittis pharetra nisi egestas.
    </p>
</div>
